_site
.sass-cache
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache

# Swap files (For Vim die hards)
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*~

.ruby-version